<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hooked on Running</title>
</head>

<body>
    <h1>
        Hooked on Running
    </h1>
    <form hx-post="/submission" hx-trigger="submit" hx-target="#submissions" hx-swap="innerHTML" hx-ext="json-enc">
        <label>Interest Form</label>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="org" placeholder="Organization">
        <input type="text" name="message" placeholder="Message">
        <input type="submit">
    </form>
    <img src="/static/doge.jpg" alt="doge" width="500">
    <div id="submissions" hx-trigger="load" hx-get="/submissions" hx-swap="innerHTML"></div>


    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>


</body>

</html>